@import './Variables.scss';

.dropdown {
	background-color: $color-white;
	min-width: 840px;
	height: 600px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;

	.dropdown__button {
		border-radius: 4px;
		border: none;
		background-color: $color-blue;
		text-transform: uppercase;
		box-sizing: border-box;
		width: 300px;
		height: 70px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.dropdown__button:hover {
		background-color: $color-light-blue;
	}

	.dropdown__button:focus {
		outline: none;
	}
}